#nav {
    height: 40px;
	width: 1216px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; 
}

#nav ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
	width: 450px;
	margin: 0 auto;
	padding: 0;
}

#nav li {
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    float: left;
}

#nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

#nav li.dropdown {
    display: inline-block;
}

#nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#nav .dropdown-content a:hover {background-color: #f1f1f1}

#nav .dropdown:hover .dropdown-content {
    display: block;
}